# API Configuration
FD_API_KEY=your_football_data_api_key_here
DB_URI=postgresql+psycopg://user:pass@localhost:5432/footy
REDIS_URL=redis://localhost:6379




# API Configuration
BASE_URL=https://api.football-data.org/v4
RATE_LIMIT_DELAY=1.0
